html,
body {
  height: 550px;
  width: 500px;
  font-family: Arial, Helvetica, sans-serif;
}

span {
  height: 100px;
  width: 100px;
  margin: 5px;
}

.permission-btn-state-default {
  border: none;
  margin: 0px 5px;
  background: #b2b2b2;
  border-radius: 6px;
  color: white;
  font-size: 14px;
  line-height: 33px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.permission-btn-state-denied {
  border: none;
  margin: 0px 5px;
  background: #e97777;
  border-radius: 6px;
  color: white;
  font-size: 14px;
  line-height: 33px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.permission-btn-state-granted {
  border: none;
  margin: 0px 5px;
  background: #5f8d4e;
  border-radius: 6px;
  color: white;
  font-size: 14px;
  line-height: 33px;
  transition: all 0.3s ease;
  cursor: pointer;
}
h3 {
  color: rgb(62, 61, 61);
  font-size: 20px;
}
table tr td{
  padding: 5px;
}

table { 
  word-break: break-all;
  overflow: hidden;
  border-collapse: collapse;
  overflow-y: scroll;
  overflow-x: scroll;
  height:200px;
  margin:20px;
  white-space: nowrap;
  table-layout: fixed;
  text-align: left;
  border: 1px solid;
  margin:20px;
}

#tablearea{
  word-break: break-all;
  overflow: hidden;
  overflow-y: scroll;
  height:300px;
  white-space: nowrap;
}

